<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="<%- BASE_HREF %>">
    <title>Commentaires Recette</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="coreContainer"></div>
</body>

</html>
