.container {
    max-width: 600px;
    margin: auto;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0px;
}

h6 {
    margin-top: 0px;
}

hr {
    margin: 3px 0px;
}

button {
    margin: 10px 5px;
}
img{
    margin: auto;
    margin-bottom: 30px;
    display: block;
}
#gateau{
    width: 400px;
}

.form {
    border: 1px solid rgb(87, 86, 86);
}

form label {
    display: block;
}

form label input {
    margin: 6px 4px;
}

textarea {
    width: 500px;
    height: 100px;
}
